<% if (user) { %>
  <% if (user.rol === 'admin') { %>
    <%- include("admin_chat") %>
    <script src="/javascripts/admin_chat.js"></script>
  <% } else if (user.rol === 'user') { %>
    <%- include("chat") %>
    <script src="/javascripts/chat.js"></script>
  <% } %>
<% } %>
  
<footer class="footer-insertcoin">
  <p class="mb-0">Hecho por Carlos © InsertCoin 2025</p>
</footer>
  
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io({ transports: ['polling'] });
  socket.on('connect', () => {
    console.log('✅ Conectado al servidor Socket.IO');
  });
</script>
