<div class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0">Footer temporal</p>
</div>

<!-- añadir aquí scripts de frameworks y personalizados -->
<script src="/js/bootstrap.bundle.min.js"></script>