<nav class="navbar navbar-expand-lg bg-dark navbar-dark px-4 py-2">
    <div class="container-fluid d-flex justify-content-between align-items-center">
  
      <div class="d-flex gap-3">
        <a class="nav-link text-white" href="/">Inicio</a>
        <a class="nav-link text-white" href="/juegos">Juegos</a>
        <a class="nav-link text-white" href="/ranking">Ranking</a>
        <a class="nav-link text-white" href="/contacto">Contacto</a>
      </div>
  
      <div>
        <img src="/images/logo.png" alt="InsertCoin" style="height: 50px;">
      </div>
  
      <div class="dropdown">
        <% if (user) { %>
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="<%= user.avatar %>" alt="Avatar" class="rounded-circle me-2" style="width: 30px; height: 30px;">
            <%= user.username %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if (user.rol === 'admin') { %>
              <li><a class="dropdown-item" href="/admin">Panel de administración</a></li>
              <li><hr class="dropdown-divider"></li>
            <% } %>

            <% if (user.rol === 'user') { %>
              <li><a class="dropdown-item" href="/mensajes">Mensajes</a></li>
              <li><hr class="dropdown-divider"></li>
            <% } %>
            

            <li><a class="dropdown-item" href="/config">Editar perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="/logout">Cerrar sesión</a></li>
          </ul>
        <% } else { %>
          <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bienvenido
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>
          </ul>
        <% } %>
      </div>
  
    </div>
  </nav>

<% if (user) { %>
<script>
  document.body.setAttribute('data-user-id', '<%= user.id %>');
</script>
<% } %>
