<!DOCTYPE html>
<html>
  <head>

    <%- include("partials/head") %>
    

  </head>
  <body>

    <header>
      <%- include("partials/header") %>
    </header>

    <main class="text-center mt-5">
      <h1 id="titulo-animado" class="display-4">InsertCoin</h1>
      <p id="subtitulo" class="lead">Bienvenido a tu salón arcade web</p>
    </main>
    

      
      <footer>
        <%- include("partials/footer") %>
      </footer>
      
      <script>
        gsap.from("#titulo-animado", { duration: 1.5, y: -100, opacity: 0, ease: "bounce.out" });
        gsap.from("#subtitulo", { duration: 1, delay: 0.5, y: 50, opacity: 0 });
      </script>
      
  </body>
</html>