<!DOCTYPE html>
<html>
  <head>

    <%- include("partials/head") %>
    

  </head>
  <body>

    <header>
      <%- include("partials/header") %>
    </header>

    <main class="text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh">
      <img src="/images/logo.png" alt="Logo InsertCoin" id="logo-animado" class="logo-insertcoin">
      <h1 id="titulo-animado" class="display-3 fw-bold title-insertcoin">InsertCoin</h1>
      <p id="subtitulo" class="lead subtitle-insertcoin">Bienvenido a tu salón arcade web</p>
      <div id="mensaje-animado" class="rotating-message"></div>

    </main>
    
           
        <%- include("partials/footer") %>
            
      <script src="/javascripts/indexAnimations.js"></script>
  </body>
</html>