@import url(vars.css);
@import url(principal.css);
@import url(header.css);
@import url(footer.css);
@import url(sala.css);
@import url(chat.css);
@import url(auth.css);
@import url(faq.css);
@import url(ranking.css);
@import url(juegos.css);
@import url(contacto.css);

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  scroll-behavior:smooth;
  
  font-family: Arial, sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}

main {
  flex: 1;
}

/* scrollbar personalizada con scrollbar.app */

body {
  --sb-track-color: #000000;
  --sb-thumb-color: #ffa500;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}