:root {
    --color-bg-main: #121425;
    --color-text-primary: #ffffff;
    --color-accent: #FFA500;
    --color-bg-header-footer: #000000;
    --color-bg-chat: #14172b;
    --font-arcade: 'Press Start 2P', cursive;
    --header-height: 72px; /* Altura aproximada del header (logo + padding) */
  }
  